---
title: 8000038 GDPR 子帳戶驗證
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 01/24/2019
ms.locfileid: "29460855"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>顯示在您的 Microsoft 帳戶出生的日期不正確

Microsoft 非常嚴重採用帳戶安全性。您可能會有最近已提示您提供家長同意子 Microsoft 帳戶。如果您需要提供家長同意或更新的 Microsoft 帳戶出生日期的說明，請參閱[家長同意的保留時間下限驗證](https://go.microsoft.com/fwlink/p/?linkid=874364)。
  
深入了解[家長同意和 Microsoft 子帳戶](https://go.microsoft.com/fwlink/p/?linkid=874365)。
  

