---
title: 學歷驗證
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: HT
ms.contentlocale: zh-TW
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205258"
---
# <a name="edu-verification"></a>學歷驗證

在大部分的情況下，我們會在 24-48 小時內處理學術資格要求。 有些要求可能需要進行更全面的審查，處理時間可能需要 10 個工作天。 完成後，我們將傳送一封電子郵件，說明您學校的資格狀態。

**重要事項**：如果您在輸入網域之前結束驗證精靈，您可以在免費試用期間，[繼續使用學術驗證精靈](https://go.microsoft.com/fwlink/p/?linkid=2135255)。

如果您想要檢查網域的狀態，請移至 [Microsoft 365 系統管理中心](https://go.microsoft.com/fwlink/p/?linkid=2024339)。 在首頁中，捲動至底部並找到 [帳單]**** 卡片。 [帳單]**** 卡片表示驗證程序的狀態 (已核准、待處理、拒絕，或新增您的網域)。

如果您的要求遭到拒絕，請參閱[學校不符合資格。我現在該怎麼做？](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)