---
title: 8000038 GDPR 子帳戶驗證
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764971"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="63063-102">在您的 Microsoft 帳戶中顯示的出生日期不正確</span><span class="sxs-lookup"><span data-stu-id="63063-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="63063-103">Microsoft 會認真對待安全性帳戶。</span><span class="sxs-lookup"><span data-stu-id="63063-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="63063-104">您最近可能會收到提示，提供兒童 Microsoft 帳戶的「父母同意」。</span><span class="sxs-lookup"><span data-stu-id="63063-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="63063-105">如果您需要協助提供父母同意或更新 Microsoft 帳戶上的出生日期，請參閱[適用于父母同意的年齡驗證](https://go.microsoft.com/fwlink/p/?linkid=874364)。</span><span class="sxs-lookup"><span data-stu-id="63063-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="63063-106">深入瞭解[父母同意和 Microsoft 子女帳戶](https://go.microsoft.com/fwlink/p/?linkid=874365)。</span><span class="sxs-lookup"><span data-stu-id="63063-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  