---
title: 8000038 GDPR 子帳戶驗證
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 03a156a9c9740521155a30775492c7dff0982588
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 03/22/2019
ms.locfileid: "30775828"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="c7729-102">顯示在您的 Microsoft 帳戶的出生日期不正確</span><span class="sxs-lookup"><span data-stu-id="c7729-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="c7729-103">Microsoft 十分重視採用帳戶安全性。</span><span class="sxs-lookup"><span data-stu-id="c7729-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="c7729-104">您可能會有最近已系統提示您提供家長的同意子女的 Microsoft 帳戶。</span><span class="sxs-lookup"><span data-stu-id="c7729-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="c7729-105">如果您需要提供家長的同意或更新的 Microsoft 帳戶的出生日期的說明，請參閱 <<c0>的家長的同意的保留天數驗證。</span><span class="sxs-lookup"><span data-stu-id="c7729-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="c7729-106">深入了解[家長的同意和子系的 Microsoft 帳戶](https://go.microsoft.com/fwlink/p/?linkid=874365)。</span><span class="sxs-lookup"><span data-stu-id="c7729-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

