---
title: 8000038 GDPR 子帳戶驗證
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 9d78905c512192ffc4675468abd2efc5f2e4baf4
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 04/23/2019
ms.locfileid: "32400960"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>顯示在您的 Microsoft 帳戶的出生日期不正確

Microsoft 十分重視採用帳戶安全性。 您可能會有最近已系統提示您提供家長的同意子女的 Microsoft 帳戶。 如果您需要提供家長的同意或更新的 Microsoft 帳戶的出生日期的說明，請參閱 <<c0>的家長的同意的保留天數驗證。
  
深入了解[家長的同意和子系的 Microsoft 帳戶](https://go.microsoft.com/fwlink/p/?linkid=874365)。
  

