---
title: 8000038 GDPR 子帳戶驗證
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707954"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>在您的 Microsoft 帳戶中顯示的出生日期不正確

Microsoft 會認真對待安全性帳戶。 您最近可能會收到提示，提供兒童 Microsoft 帳戶的「父母同意」。 如果您需要協助提供父母同意或更新 Microsoft 帳戶上的出生日期，請參閱 [適用于父母同意的年齡驗證](https://go.microsoft.com/fwlink/p/?linkid=874364)。
  
深入瞭解 [父母同意和 Microsoft 子女帳戶](https://go.microsoft.com/fwlink/p/?linkid=874365)。
  