---
title: 8000038 GDPR 子項帳戶驗證
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387048"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="6cb3e-102">Microsoft 帳戶中顯示的出生日期不正確</span><span class="sxs-lookup"><span data-stu-id="6cb3e-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="6cb3e-103">Microsoft 對帳戶的安全性非常嚴重。</span><span class="sxs-lookup"><span data-stu-id="6cb3e-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="6cb3e-104">您最近可能會收到提示, 以提供孩子的 Microsoft 帳戶家長同意。</span><span class="sxs-lookup"><span data-stu-id="6cb3e-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="6cb3e-105">如果您需要協助提供家長同意, 或更新 Microsoft 帳戶的出生日期, 請參閱「[家長同意的保留期限驗證](https://go.microsoft.com/fwlink/p/?linkid=874364)」。</span><span class="sxs-lookup"><span data-stu-id="6cb3e-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="6cb3e-106">深入瞭解[父母同意和 Microsoft 子女帳戶](https://go.microsoft.com/fwlink/p/?linkid=874365)。</span><span class="sxs-lookup"><span data-stu-id="6cb3e-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  