---
title: 疑難排解 Publisher 驗證
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: zh-TW
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875360"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="b2cda-102">針對開發人員的 Publisher 驗證相關問題</span><span class="sxs-lookup"><span data-stu-id="b2cda-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="b2cda-103">**建議的步驟**</span><span class="sxs-lookup"><span data-stu-id="b2cda-103">**Recommended steps**</span></span> 

<span data-ttu-id="b2cda-104">若要解決與 Publisher 驗證相關的問題，請執行下列步驟：</span><span class="sxs-lookup"><span data-stu-id="b2cda-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="b2cda-105">檢閱必要條件和其他需求，確保它們全部符合。</span><span class="sxs-lookup"><span data-stu-id="b2cda-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="b2cda-106">檢閱指示，[將應用程式標示為 Publisher 已驗證](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) (部分機器翻譯)，並確保所有步驟都已順利執行。</span><span class="sxs-lookup"><span data-stu-id="b2cda-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="b2cda-107">如有此類清單的問題，請參閱[常見問題](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues)清單，並按照建議的步驟操作。</span><span class="sxs-lookup"><span data-stu-id="b2cda-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="b2cda-108">使用 [Graph 總管]](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls)收集額外資訊，並解決 UI 中的任何問題。</span><span class="sxs-lookup"><span data-stu-id="b2cda-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="b2cda-109">**建議的文件**</span><span class="sxs-lookup"><span data-stu-id="b2cda-109">**Recommended documents**</span></span>

- <span data-ttu-id="b2cda-110">[Publisher 驗證 - 概觀](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) (部分機器翻譯)</span><span class="sxs-lookup"><span data-stu-id="b2cda-110">[Publisher verification - overview](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview)</span></span> 
- <span data-ttu-id="b2cda-111">[將您的應用程式標示為 Publisher 已驗證](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) (部分機器翻譯)</span><span class="sxs-lookup"><span data-stu-id="b2cda-111">[Mark your app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified)</span></span> 
- <span data-ttu-id="b2cda-112">[疑難排解 Publisher 驗證](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification) (部分機器翻譯)</span><span class="sxs-lookup"><span data-stu-id="b2cda-112">[Troubleshoot publisher verification](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)</span></span>

