---
title: 疑難排解 Publisher 驗證
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: eb406eef2ac4e1bcebffcca91ec8706ac3c7a7f1b4c58a5da3a4e386b55700fb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: HT
ms.contentlocale: zh-TW
ms.lasthandoff: 08/05/2021
ms.locfileid: "54007962"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>針對開發人員的 Publisher 驗證相關問題

**建議的步驟** 

若要解決與 Publisher 驗證相關的問題，請執行下列步驟：

1. 檢閱必要條件和其他需求，確保它們全部符合。
2. 檢閱指示，[將應用程式標示為 Publisher 已驗證](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) (部分機器翻譯)，並確保所有步驟都已順利執行。
3. 如有此類清單的問題，請參閱[常見問題](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues)清單，並按照建議的步驟操作。
4. 使用 [Graph 總管]](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls)收集額外資訊，並解決 UI 中的任何問題。

**建議的文件**

- [Publisher 驗證 - 概觀](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) (部分機器翻譯) 
- [將您的應用程式標示為 Publisher 已驗證](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) (部分機器翻譯) 
- [疑難排解 Publisher 驗證](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification) (部分機器翻譯)

